@import "@/sass/index.scss";

.sticky {
  background-color: $white;
  @include d-flex;
  position: sticky;
  top: 0;
  width: 100%;
  animation: positionAnimation 2s linear;
  padding: $small-padding $standard-padding;
  transition: all 1s ease-in;
  justify-content: space-between;
  @media screen and (min-width: $big-tablets) {
    padding: $standard-padding 2rem;
  }
}

@keyframes positionAnimation {
  100% {
    top: 0;
  }
}

.header {
  background-color: $white;
  @include d-flex;
  width: 100%;
  padding: $small-padding $standard-padding;
  justify-content: space-between;
  @media screen and (min-width: $big-tablets) {
    padding: $standard-padding 2rem;
  }
  &__logoSection {
    @include d-flex;
    cursor: pointer;
    transition: scale 0.7s;
    will-change: scale;
  }
  &__logoSection:hover {
    scale: 1.1;
  }

  &__navMenu {
    display: none;
    @media screen and (min-width: $big-tablets) {
      @include d-flex;
      gap: 5rem;
    }
    &__nav {
      @include d-flex;
      gap: 2rem;
    }

    &__items {
      @include d-flex;
      list-style-type: none;
      &__item {
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
        padding: $small-padding $standard-padding;
        color: $dark;
        transition: scale 0.7s;
        will-change: scale;
        border-radius: $border-min;
      }
      &__item:hover {
        scale: 1.1;
      }
    }
  }
}

@keyframes showMenu {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
