@import "@/sass/index.scss";

.header {
  background-color: $white;
  @include d-flex;
  position: fixed;
  top: 10;
  width: 100%;
  padding: $small-padding $standard-padding;
  transition: all 1s ease-in;
  justify-content: space-between;
  @media screen and (min-width: $big-tablets) {
    padding: $standard-padding;
  }
  &__logoSection {
    @include d-flex;
  }

  &__navMenu {
    display: none;
    @media screen and (min-width: $big-tablets) {
      @include d-flex;
      gap: 5rem;
    }
    &__nav {
      @include d-flex;
      gap: 2rem;
    }

    &__items {
      @include d-flex;
      list-style-type: none;
      &__item {
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
        padding: $small-padding $standard-padding;
        color: $dark;
        transition: scale 0.7s;
        border-radius: $border-min;
      }
      &__item:hover {
        scale: $hover-min-scale;
      }
    }
  }
}

@keyframes showMenu {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
