@import "@/sass/index.scss";

.contactWrapper {
  @include d-flex;
  gap: $small-gap;
  transition: scale 0.7s;
  will-change: scale;
  cursor: pointer;
}

.contactWrapper:hover {
  scale: $hover-min-scale;
}
