@import "@/sass/index.scss";

.contactWrapper {
  @include d-flex;
  gap: $small-gap;
  transition: scale 0.7s;
  will-change: scale;
  cursor: pointer;
  &__content {
    background-color: transparent;
    border: none;
    color: $white;
    font-size: $text-size;
    width: 12rem;
  }
}

.contactWrapper:hover {
  scale: $hover-min-scale;
}
