@import "@/sass/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Freehand&display=swap");

.container {
  @include d-flex-column;
  margin: 3rem 0;
  gap: 3rem;
  padding-top: $big-padding;
  border-top: 2px solid $gray;
  &__itemsContainer {
    @include d-flex-column;
    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }
    gap: $big-gap;
    &__wrapper {
      @include d-flex-column;
      gap: $standard-gap;
      align-items: flex-start;

      &__title {
        color: $orange;
        font-size: 1.4rem;
        font-weight: 400;
      }
      &__companyInfo {
        font-size: $text-size;
        width: 10rem;
      }
    }
  }
}
