# Pliki systemu kontroli wersji
.git
.gitignore

# Katalogi z zależnościami
node_modules
npm-debug.log

# Pliki środowiskowe
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Katalogi z plikami budowania
.next
out

# Pliki logów
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Katalogi i pliki systemowe
.DS_Store
Thumbs.db

# Pliki IDE i edytorów
.idea
.vscode
*.swp
*.swo

# Pliki konfiguracyjne Docker
Dockerfile
docker-compose.yml
.dockerignore

# Inne
README.md
LICENSE
.github 