@import "@/sass/index.scss";

.item {
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  padding: $small-padding;
  margin: 0;
  text-align: center;
  color: $dark;
  transition: scale 0.7s;
  will-change: scale;
  border-radius: $border-min;
  border: none;
}
.item:hover {
  scale: $hover-med-scale;
}
