@import '@/sass/index.scss';

.hamburgerSection {
  cursor: pointer;
  padding-top: $small-padding;

  @media screen and (min-width: $tablet) {
    margin-right: $big-margin;
  }

  @media screen and (min-width: $big-tablets) {
    display: none;
  }
}
