@import "@/sass/index.scss";

.container {
  @include d-flex-column;
  gap: 2rem;
  padding: 5rem 2rem;
  background-color: $blue;
  &__header {
    @include d-flex-column;
    gap: $small-gap;
    align-items: flex-start;
    width: 100%;
    &__category {
      color: $orange;
      font-weight: 600;
    }
    &__title {
      font-size: 1.5rem;
      color: $white;
      @media screen and (min-width: $desktop) {
        font-size: 2rem;
      }
    }
  }
  &__cardsWrapper {
    @include d-flex-column;
    gap: 2rem;
    @media screen and (min-width: $desktop) {
      @include d-flex;
      gap: 4rem;
    }
    @media screen and (min-width: $large-desktop) {
      gap: 7rem;
    }
  }
}
