@import "@/sass/index.scss";

.copyrightWrapper {
  @include d-flex-column;
  gap: $big-gap;
  &__author {
    font-family: "Freehand", cursive;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
  }
}
