@import "@/sass/index.scss";

.searchSection {
  position: fixed;
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0vh;
  z-index: 1;
  @include d-flex;
  &__searchPlace {
    border-radius: $border-med;
    @include d-flex;
    position: absolute;
    top: 0.7rem;
    border: 2px solid #000;
    &__btn {
      border-radius: 0 0.7rem 0.7rem 0;
      padding: 0.93rem $standard-padding;
      cursor: pointer;
    }
    &__inp {
      border-radius: 0.7rem 0 0 0.7rem;

      border: none;
      padding: 1.1rem 7rem;
    }
  }
}
