@import "@/sass/index.scss";

.container {
  margin-top: 4rem;
  @include d-flex-column;
  padding: $standard-padding;
  gap: 2rem;
  &__imageSection {
    @include d-flex-column;
    &__img {
      border-radius: $border-med;
    }
    &__frameOne {
      border-top: 4px solid $gray;
      border-right: 4px solid $gray;
      width: 370px;
      height: 20px;
    }
    &__frameTwo {
      border-top: 4px solid $orange;
      border-right: 4px solid $orange;
      height: 20px;
      width: 200px;
      margin: 0 auto;
    }
  }
  &__contentSection {
    @include d-flex-column;
    padding: $standard-padding;
    gap: 1rem;
    &__infoWrapper {
      @include d-flex-column;
      gap: 1rem;
      align-items: flex-start;
      width: 100%;
      &__category {
        color: $orange;
        font-weight: 600;
      }
      &__title {
        font-size: 1.5rem;
        color: $dark;
      }
      &__description {
        font-size: $text-size;
        color: $dark;
      }
    }
    &__buttonSection {
      @include d-flex;
      justify-content: flex-start;
      width: 100%;
      &__btn {
        @include d-flex;
        gap: $small-gap;
        background-color: $orange;
        border: none;
        padding: $small-padding $standard-padding;
        font-size: $text-size;
        border-radius: $border-med;
      }
    }
  }
}
