@import "@/sass/index.scss";

.container {
  @include d-flex-column;
  background-color: $white;
  padding: $standard-padding;
  padding-top: 5rem;
  gap: 5rem;
  align-items: flex-start;
  @media screen and (min-width: $desktop) {
    flex-direction: row-reverse;
  }
  &__cardsWrapper {
    @include d-flex-column;
    gap: 3rem;
    @media screen and (min-width: $big-tablets) {
      flex-direction: row;
      width: 70rem;
    }
  }
  &__infoSection {
    @include d-flex-column;
    align-items: flex-start;
    gap: $standard-gap;
    padding: $standard-padding;
    &__category {
      @include category;
    }
    &__title {
      @include title($dark);
    }
    &__btn {
      @include btn;
      margin-top: $standard-margin;
    }
    &__score {
      @include d-flex;
      gap: $standard-gap;
      margin-top: $standard-margin;
      &__content {
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }
}
