@import "@/sass/index.scss";

.container {
  margin-top: 4rem;
  @include d-flex-column;
  padding: $standard-padding;
  gap: $big-gap;
  scroll-behavior: smooth;
  scroll-margin: 2rem;
  @media screen and (min-width: $desktop) {
    @include d-flex;
    gap: 4rem;
  }
  @media screen and (min-width: $large-desktop) {
    gap: 10rem;
  }
  padding-bottom: 5rem;
}
