@import "@/sass/index.scss";

.wrapper {
  @include d-flex-column;
  gap: $standard-gap;
  align-items: flex-start;
  width: 100%;
  &__title {
    color: $orange;
    font-size: 1.4rem;
    @include headerFont;
  }
  &__linkItem {
    color: $dark;
  }
  &__item {
    @include textFont;
    font-size: $text-size;
  }
}
