@import "@/sass/index.scss";

.container {
  @include d-flex-column;
  padding: $standard-padding;
  margin-top: 5rem;
  align-items: flex-start;
  gap: $big-gap;
  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
  @media screen and (min-width: $large-desktop) {
    gap: 10rem;
  }
  &__infoSection {
    @include d-flex-column;
    align-items: flex-start;
    gap: $standard-gap;
    padding: $standard-padding;
    &__category {
      @include category;
      border: none;
    }
    &__title {
      @include title($dark);
      border: none;
    }
    &__description {
      border: none;
      font-size: $text-size;
      width: 100%;
      font-family: "Times New Roman", Times, serif;
    }
    &__btn {
      @include btn;
      margin-top: $standard-margin;
      &__text {
        border: none;
        background: transparent;
        color: $white;
        width: 30%;
        font-size: $text-size;
      }
    }
  }
}
